$card: #8e87dc;
$mainlightorange: #e56b6f;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.header {
  display: flex;
  font-size: 3.5rem;
  color: whitesmoke;
  margin-bottom: 1rem;
  animation: fadeIn 2s;
}


.nav-item {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  animation: fadeIn 2s;
}

.nav-item:hover {
  color: $mainlightorange;
}

.active-nav-item {
  color: #FFF;
}

@media (min-width: 650px) {
  .header {
    font-size: 10rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
