$card: #516d9c;

.items {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

.item-wrapper {
  transition: all .2s ease-in-out;
  margin: 1rem 0 0 0;
  display: flex;
  width: 100%;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

.item {
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  border-bottom:  6px solid darken($card, 7%);
}

.item-wrapper:hover {
  transform: scale(1.03);
}

.item-wrapper * {
  padding: 10px;
  background: $card;
  color: whitesmoke;
  text-decoration: none;
}

.button_wrapper {
  display: flex;
}

.button_tech {
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 7px 0 7px;
  margin: 0 10px 0 0;
  border: none;
  color: #FFF;
}

@media (min-width: 450px) {
  .item-wrapper {
    margin: 1rem 0 1rem 0;
  }
}

