$card: #6260e0;

.text {
  width: 100%;
  max-width: 30rem;
  color: #47536b;
}

.continued {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 20px;
  color: #47536b;
}


.timeline{
  position: relative;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.timeline__group{
  position: relative;
  color: #47536b;
}

.timeline__year{
  padding: .5rem 1.5rem;
  color: #47536b;
  position: absolute;
  left: 0;
  top: 0;
}

.timeline__box{
  position: relative;
  margin-left: 0;
}

.timeline__box:not(:last-of-type){
  margin-bottom: 30px;
}

.timeline__date{
  min-width: 65px;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: .5rem 1.5rem;
  text-align: center;
  color: #47536b;
}

.timeline__day{
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.timeline__month{
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.timeline__post * {
  background: $card;
  color: #FFF;
}

.timeline__post{
  max-width: 600px;
  margin-left: 0;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border-bottom: 3px solid darken($card, 7%);
  background: $card;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

@media screen and (min-width: 641px){

  .timeline__group{
    padding-top: 55px;
  }

  .timeline__date{
    top: 50%;
    margin-top: -27px;
  }
}

@media screen and (max-width: 640px){


  .timeline__group{
    padding-top: 1rem;
  }

  .timeline__box{
    padding-top: 70px;
  }

  .timeline__date{
    top: 0;
  }
}

.timeline{
  --timelineMainColor: #4557bb;
  font-size: 16px;
}

@media (min-width: 640px) {
  .timeline__date{
    margin-right: 5rem;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .timeline__post {
    margin-left: 6rem;
  }
}
