$mainblue: #47536b;
$mainpurple: #6260e0;

.nav-item {
  color: $mainblue;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}


.header {
  display: flex;
  padding: 1rem 0 0 3rem;
  justify-content: flex-start;
}

.title {
  font-family: Alata;
  font-weight: 400;
  color: $mainblue;
  letter-spacing: 1px;
  margin-right: 1rem;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}

.nav-item:hover {
  color: $mainpurple;
}

.active-nav-item {
  color: $mainpurple;
  font-weight: 900;
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 1rem;
    margin-right: 1.5rem;
  }
}
