$mainblue: #2f4858;
$mainpurple: #6d597a;
$mainorange: #ec5475;
$mainlightorange: #e56b6f;
$mainyellow: #bc7f9a;

.nav-item {
  color: #FFF;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}


.header {
  display: flex;
  background-color: #100e17;
  padding: 2% 0 0 0;
  margin-bottom: 5%;
  justify-content: flex-start;
}

.header * {
  background-color: #100e17;
}

.title {
  color: #FFF;
  margin-right: 1rem;
  font-size: 3rem;
  text-decoration: none;
}

.title:hover {
  color: $mainlightorange;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}

.nav-item:hover {
  color: $mainlightorange;
}

.active-nav-item {
  color: $mainblue;
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 1rem;
    margin-right: 1.5rem;
  }
}
