.container {
  display: flex;
  min-height: 100vh;;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 900px;
  padding-left: 3rem;
  padding-top: 1rem;
  min-height: 80vh;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
